<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css"
        integrity="sha512-wpPYUAdjBVSE4KJnH1VR1HeZfpl1ub8YT/NKx4PuQ5NmX2tKuGu6U/JRp5y+Y8XG2tV+wKQpNHVUX03MfMFn9Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/styles.css">
</head>

<section class="subscribe">
    <div class="sub-cont container">
        <h1 class="subscribe-title">EXPLORE OUR NEW CHOCOLATE FIRST</h1>
        <p class="subscribe-text">From the velvety texture to the rich and complex flavor, our New Chocolate is a true
            indulgence that will
            leave you
            craving more. Made with only the finest ingredients and handcrafted with the utmost care, each piece is a
            work of art
            that is sure to please.</p>
        <button type="button" class="subscribe-btn button">Subscribe</button>
    </div>
</section>